.contai div:nth-child(1) {
  background-image: url('/images/germany.svg');
  background-size: cover;
}

.contai div:nth-child(6) {
  background-image: url('/images/turkey.svg');
  background-size: cover;
  color: black;
}

.contai div:nth-child(7) {
  background-image: url('/images/england.svg');
  background-position: 0px 170px;
  background-size: 20%;
  color: black;
  font-size: 1.6rem;
}

.contai div:nth-child(11) {
  background-image: url('/images/denmark.svg');
  background-size: 30%;
  color: black;
}