.scrollContainer {
  height: 100px;
  overflow-x: hidden;
  position: relative;
}

.carouselprimary, .carouselsecondary {
  left: 100%;
  width: 100%;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
}

.carouselprimary img {
  margin-left: 20px;
}

.carouselprimary {
  display: flex;
  justify-content: space-around;
  animation: scroll-horizontal 20s linear infinite;
}

.carouselsecondary {
  animation: scroll-horizontal 20s linear infinite;
  animation-delay: 10s;
}

@keyframes scroll-horizontal {
  0% {
    left: 100%;
  }
  100% {
    left: -100%;
  }
}