@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  cursor:
    url("/cursor/cursor-@1x.svg") 4 4,
    pointer;
  cursor:
    -webkit-image-set(url("/cursor/cursor-@2x.svg") 2x) 4 4,
    pointer;
  /* background: #ffffff; */
  /* background: radial-gradient(at center, #ffffff, #fffdf0); */
  overflow-x: hidden;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;

  background: linear-gradient(271deg, #a9b388, #5f6f52);
  background-size: 400% 400%;

  -webkit-animation: gradientanimation 15s ease infinite;
  -moz-animation: gradientanimation 15s ease infinite;
  animation: gradientanimation 15s ease infinite;
}

.startup {
  /* animation: startup; */
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: linear-gradient(271deg, #a9b388, #5f6f52);
  background-size: 400% 400%;

  -webkit-animation: gradientanimation 15s ease infinite;
  -moz-animation: gradientanimation 15s ease infinite;
  animation: gradientanimation 15s ease infinite;
  /* background: radial-gradient(at center, #ffffff, #fffdf0); */
  opacity: 1;
  z-index: 100;
  animation: startup 1.2s forwards;
  /* hardware acceleration trick on chrome? */
  /* transform: translateZ(0);
  transform: rotateZ(360deg);
  backface-visibility: hidden;
  perspective: 1000; */
}

.startup p:nth-child(1) {
  position: absolute;
  transform: translate(50vw, -15vh);
  animation: startupForP1 2.4s forwards linear;
  z-index: 101;
  font-size: 50vh;
}

.startup p:nth-child(2) {
  position: absolute;
  transform: translate(60vw, 35vh);
  animation: startupForP2 2.2s forwards linear;
  z-index: 101;
  font-size: 50vh;
}

@keyframes startupForP1 {
  from {
    transform: translate(calc(20vw), -15vh);
  }
  to {
    transform: translate(calc(-50vw - 100%), -15vh);
  }
}

@keyframes startupForP2 {
  from {
    transform: translate(calc(30vw), 35vh);
  }
  to {
    transform: translate(calc(-70vw - 100%), 35vh);
  }
}

@keyframes startup {

  0% {
    opacity: 0;
    /* display: block; */
  }
  20% {
    opacity: 1;
  }
  80% {
    opacity: 1;
    z-index: 100;
    /* display: block; */
  }
  100% {
    opacity: 0;
    display: none;
    z-index: -100;
  }
}
@-webkit-keyframes gradientanimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@-moz-keyframes gradientanimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}
@keyframes gradientanimation {
  0%{background-position:0% 50%}
  50%{background-position:100% 50%}
  100%{background-position:0% 50%}
}